html,

.body {
    margin: 0px;
    background-color: black;
}

.content {
    background-color: #d7dfe3;
    margin: auto;
    color: black;
    width: 80em;
    height: auto;
}

.footer {
    display: inline-block;
}

.logo_text {
    color: #066bf6;
    font-weight: bold;
    padding: 19px;
    font-size: 18px;
    display: inline-block;
    padding-right: 280px;
}

.upward {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    padding-right: 35px;
    color: #8d8d8d;
}

.footer_button:hover {
    color: #3b3b3b;
}

.Btnnews {
    background-color: #45028d;
    padding: 7px;
    margin-left: 40rem;
    text-align: center;
    color: white;
    display: inline-block;
}

.Btnnews:hover {
    background-color: #5E07BE;
}

.text_date {
    display: inline-block;
    color: #8d8d8d;
}

.Title_ {
    color: black;
    font-weight: bold;
    font-size: 43px;
    text-align: center;
    padding-top: 21px;
}

.News_text {
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
    color: #8d8d8d;
    font-weight: bold;
    font-size: 18px;
}

.text_title {
    font-weight: bold;
    font-size: 30px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.photo {
    margin-left: 200px;
    border-radius: 20px;
}

.phot {
    border-radius: 20px;
    margin-left: 210px;
}

.img_block_ {
    margin-top: -250px;
    margin-left: 540px;
    border-radius: 20px;
}

.News_texte {
    text-align: left;
    margin-left: 200px;
    margin-right: 600px;
    color: #8d8d8d;
    font-weight: bold;
    font-size: 18px;

}
.hr_down {
    margin-top: 100px;
    border: 1px solid rgb(194, 194, 194);

}
.author_img {
    margin-top: 10px;
    border-radius: 70px;
    margin-left: 200px;
}

.Author_text {
    padding-top: 20px;
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
    color: #8d8d8d;
    font-weight: bold;
    font-size: 18px;
}
.author_name {
    margin-top: -61px;
    margin-left: 300px;
    color: black;
    font-weight: 1000;
}

.author_name2 {
    margin-top: -8px;
    margin-left: 300px;
    color: #8d8d8d;
}

.Reco {
    width: 28%;
    background-color: white;
    text-align: center;
    border-radius: 12px;
    position: relative;
    margin: 20px;
    display: inline-block;
}

.BBlock {
    background-size: 100%;
    height: 268px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.BBlock2 {
    background-size: 100%;
    height: 255px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.BBlock3 {
    background-size: 100%;
    height: 268px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.newsBlocka {
    background-color: #5d00c0;
    color:white;
    position: absolute;
    top: 46%;
    left: 13%;
    padding: 10px;
}

.newsBlocka:hover {
    background-color: #7802f7;
}

.textD {
    max-width: 290px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    margin-top: 46px;
    margin-left: 11%;
}

.flex {
    display: flex;
    text-align: center;
    padding-left: 50px;
    margin-top: 51px;
    background: #fff;
}

.iBlock {
    width: 40px;
    background-size: cover;
    height: 40px;
    border-radius: 100px;
    background-image: url(../img/2.jpg)
}

.nameblock {
    margin-left: 12px;
    border-right: 1px solid #8d8d8d ;
    color: #8d8d8d;
    padding-right: 12px;
}

.timeBlock {
    margin-left: 12px;
    color: #8d8d8d;
}